$bg: #eee;

.box {
    background-color: $bg;
    &_title {
        color: #f00;
    }
    &_image {
        max-width: 200px;
    }
    &_svg {
        fill: #000;
        &:hover {
            fill: blue;
        }
    }
}